{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Dignostics
{% endblock %}
{% block styles %}
{{super()}}
{% endblock %}

{% block body %}

<center><h2>Add Dignostics</h2></center>
<br>

<div class="container">
    <center>
      <form class="form-signin" method="POST" action="#">
          {{ form.hidden_tag() }}
        <div>
            <b>{{ form.diagnostictest.label }}</b>: {{ form.diagnostictest }}
            <button class="btn-primary" type="submit">Add</button>
        </div>
          {% if form.validate_on_submit()==False %}
          <ul class="errors">{% for error in form.diagnostictest.errors %}<center><b><li>{{ error }}</li></b></center>{% endfor %}</ul>
          {% endif %}
      </form>
    </center>
</div>

<br>
<div class="container">
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Name Of Test</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Corona</th>
      <td>4000</td>
    </tr>
  </tbody>
</table>
</div>

<div class="container">
    <center>
      <form class="form-signin" method="POST" action="#">
          <button class="btn btn-lg btn-primary" type="submit">Update</button>
      </form>

    </center>
</div>

{% endblock %}